@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Lato:wght@300;400;700&display=swap');
/*  font-family: 'Dancing Script', cursive;     */
/*  font-family: 'Lato', sans-serif;            */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {

    font-family: 'Lato', sans-serif;
    background: linear-gradient(#669999, #337878);
    background-repeat: no-repeat;
}
.container {
    max-width: 80%;
    margin: 100px auto;
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 6rem;
    text-align: center;
    margin: 20px auto 60px auto;
}
.dice-container {
    max-width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.dice {
    width: 35%;
    text-align: center;
    margin: 20px 40px; 
}
.dice p {
    font-family: 'Dancing Script', cursive;
    font-size: 2.4rem;
    margin: 20px auto;
    font-weight: 700;
}
.dice img {
    max-width: 100%;
}
.button-box {
    width: 30%;
    margin: 0 auto;
}
#play {
    margin: 40px auto;
    width: 100%;
    background-color: rgba(33, 33, 33, .8);
    color: blanchedalmond;
    font-size: 1.4rem;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;

}
#play:hover {
    background-color: #4566c6;

}
@media screen and ( max-width: 680px ) {
    .container {
        margin: 30px auto;
    }
    .button-box {
        width: 60%;
    }
    .dice {
        width: 45%;
        margin: 20px 5px;
    }
    .dice p {
        font-size: 1.8rem;
    }
    h1 {
        margin: 10px auto;
        font-size: 4rem;
    }
}